@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-brand-bg text-slate-800 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-slate-900;
  }
}

/* Mobile Performance Optimization */
@media (max-width: 768px) {

  body,
  button,
  input,
  select,
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    font-display: swap;
  }
}