@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-brand-bg text-slate-800 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-slate-900;
  }
}

@layer utilities {
  .animate-blob {
    animation: blob 7s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .content-auto {
    content-visibility: auto;
    contain-intrinsic-size: 1px 500px;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

/* Mobile Performance Optimization */
@media (max-width: 768px) {

  body,
  button,
  input,
  select,
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    font-display: swap;
  }
}